<p-toast></p-toast>
<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="addNew()"></button>
            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelected()" [disabled]="!selectedRoles || !selectedRoles.length"></button>
        </ng-template>

        <!-- <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template> -->
    </p-toolbar>

    <p-table #dt [value]="roles" [rows]="10" [paginator]="true" [loading]="loading" [globalFilterFields]="filterFields"
        [(selection)]="selectedRoles" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Manage Products</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="updated_at">Updated_at <p-sortIcon field="updated_at"></p-sortIcon></th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-role>
            <tr>
                <td>
                    <p-tableCheckbox [value]="role"></p-tableCheckbox>
                </td>
                <td>{{ role.name }}</td>
                <td>{{ role.updated_at | date: 'short' }}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="edit(role)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(role)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{roles ? roles.length : 0 }} roles.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="isShowDialog" [style]="{width: '700px'}" [header]="isEdit ? 'Updated Role' : 'Create New Role'" [modal]="true" styleClass="p-fluid"
    (onHide)="hideDialog()">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Role Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="role.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !role.name">Name is required.</small>
        </div>

        <div class="p-field">
            <label class="p-mb-3">Router</label>
            <div class="p-formgrid p-grid">
                <div class="mt-2 p-col-6" *ngFor="let route of routes">
                    <p-checkbox [(ngModel)]="role.attempt" [value]="route"></p-checkbox>
                    <p-tag class="m-2" [severity]="getColor(route.method)">{{ route.method }}</p-tag>
                    <label>{{ route.name }} {{ route.path }}</label>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onSubmit()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
